<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="KERNEL_CLASS" value="PrismaMedia\Metrics\Tests\Bundle\App\TestKernel"/>
    <env name="APP_ENV" value="test"/>
    <env name="SHELL_VERBOSITY" value="0"/>
  </php>
  <testsuites>
    <testsuite name="PrismaMedia Metrics Test Suite">
      <directory>./tests/</directory>
      <exclude>./tests/Bundle/App/</exclude>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory>./src/</directory>
    </include>
    <exclude>
      <directory>./src/Bundle/Resources</directory>
    </exclude>
  </coverage>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
</phpunit>
